{% load static %}
<!DOCTYPE html>
<html lang="es">

{% include 'include/head.html' %}

<body class="bg-gray-50 dark:bg-gray-900 transition-colors duration-300" id="page-body"
    data-api-token="{{ request.session.api_token }}">
    <div class="flex min-h-screen">


        {% include 'include/sidebar.html' %}

        <div id="main-content" class="main-content w-full min-h-screen **md:ml-64**">
            {% include 'include/navbar.html' %}
            {% block content %}

            {% endblock %}
        </div>
    </div>
</body>
{% include 'include/script.html' %}

</html>