 asgiref
certifi
charset-normalizer
contourpy
cycler
Django
dotenv
fonttools
idna
kiwisolver
matplotlib
mysqlclient
numpy
packaging
pillow
pyparsing
python-dateutil
python-dotenv
qrcode
requests
six
sqlparse
urllib3
