<div class="modal fade" id="extras" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content dark:bg-gray-800 p-6">
            <div class="modal-header border-b-0 pb-0">
                <h5 class="modal-title dark:text-white text-xl font-bold text-center w-full" id="staticBackdropLabel">Registrar Extras</h5>
                <button type="button" class="btn-close absolute top-3 right-3" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-0">
                
                <form action="extras_unified_view" method="post">
                    {% csrf_token %}
                        <div class="text-center mb-4">
                            <label for="referencia" class="text-blue-800 dark:text-blue-300 font-semibold mb-2 block">Extra:</label>
                            <input type="text" id="referencia" name="extras" class="w-full p-2 border border-gray-300 rounded-md text-center" placeholder="Extra">
                        </div>
                        <div class="text-center mb-4">
                            <label for="referencia" class="text-blue-800 dark:text-blue-300 font-semibold mb-2 block">Precio:</label>
                            <input type="text" id="referencia" name="precio" class="w-full p-2 border border-gray-300 rounded-md text-center" placeholder="Precio">
                        </div>
                        
                    </div>
                    <div class="modal-footer flex gap-4 border-t-0 pt-0 justify-center">
                        <button type="button" class="btn btn-secondary bg-gray-400 text-white font-semibold rounded-md py-2 px-6 w-auto flex-auto hover:bg-gray-500 transition-colors" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary bg-green-500 text-white font-semibold rounded-md py-2 px-6 w-auto flex-auto hover:bg-green-600 transition-colors">Registrar</button>
                    </div>
                </form>
        </div>
    </div>
</div>