<div id="myModal" class="modal ">
        <div class="modal-dialog ">
            <div class="modal-content dark:bg-gray-800">
                <div class="modal-header">
                    <h5 class="modal-title dark:text-white text-center">Menu De Hoy</h5>
                    <button type="button" class="close dark:bg-gray-800" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="grid grid-cols-1 gap-2">
                        
                             <label for="Sopa" class="dark:text-white flex justify-start">Sopa</label>
                            <input type="text" class="dark:bg-gray-800 dark:text-white border border-blue-500 rounded-md px-5 py-1">

                             <label for="Sopa" class="dark:text-white flex justify-start">Proteinas</label>
                            <input type="text" class="dark:bg-gray-800 dark:text-white border border-blue-500 rounded-md py-1">

                             <label for="Sopa" class="dark:text-white flex justify-start">Contornos</label>
                            <input type="text" class="dark:bg-gray-800 dark:text-white border border-blue-500 rounded-md py-1">

                             <label for="Sopa" class="dark:text-white flex justify-start">Ensaladas</label>
                            <input type="text" class="dark:bg-gray-800 dark:text-white border border-blue-500 rounded-md py-1">

                             <label for="Sopa" class="dark:text-white flex justify-start">Jugo</label>
                            <input type="text" class="dark:bg-gray-800 dark:text-white border border-blue-500 rounded-md py-1">

                             <label for="Sopa" class="dark:text-white flex justify-start">Postre</label>
                            <input type="text" class="dark:bg-gray-800 dark:text-white border border-blue-500 rounded-md py-1">
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>