<div id="miModal{{ usuario.id }}" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
    <div class="bg-white rounded-lg p-6 max-w-sm mx-auto dark:bg-gray-800">
        <h2 class="text-xl font-bold mb-4 dark:text-white text-center">Detalles del Usuario</h2>
        
        <div class="space-y-4">
            <div>
                <span class="block text-sm font-semibold text-gray-600 dark:text-gray-400">Nombre Completo:</span>
                <p class="text-gray-800 dark:text-gray-200">{{ usuario.first_name }} {{ usuario.last_name }}</p>
            </div>

            <div>
                <span class="block text-sm font-semibold text-gray-600 dark:text-gray-400">Correo Electrónico:</span>
                <p class="text-gray-800 dark:text-gray-200">{{ usuario.email }}</p>
            </div>

            <div>
                <span class="block text-sm font-semibold text-gray-600 dark:text-gray-400">Nombre de Usuario:</span>
                <p class="text-gray-800 dark:text-gray-200">{{ usuario.username }}</p>
            </div>

            <div>
                <span class="block text-sm font-semibold text-gray-600 dark:text-gray-400">Roles Asignados:</span>
                {% for grou in usuario.groups.all %}
                    <span class="text-gray-800 dark:text-gray-200">
                        {{ grou.name }}
                    </span>
                {% empty %}
                    <span class="text-gray-500 dark:text-gray-400">Sin grupo asignado</span>
                {% endfor %}
            </div>
        </div>
         <button data-modal-hide="miModal1" class="mt-4 px-4 py-2 bg-green-500 text-white rounded">Cerrar</button>
    </div>
</div>