{% extends 'bases/base_dashboard.html' %}

{% block content %}

<div class="max-w-6xl mx-auto p-2">
   
  <div class="flex flex-row md:flex-row items-center">
        <div class="flex-1">
            <select name="" id="" class="border rounded-md py-1 px-3">
                <option value="">Gerencias</option>
            </select>
        </div>
        <div class="flex-1">
            <h2 class="dark:text-white text-center">Gestión de pedidos</h2>
        </div>
        <div class="flex-1">
            <input class="border rounded-md py-1 px-3" type="text" placeholder="Buscar persona">
        </div>
    </div>
  
    <div class="overflow-x-auto bg-white dark:bg-dark-100 rounded-lg shadow-md">
        <table class="responsive-table w-full">
            <thead class="bg-gray-100 dark:bg-dark-200">
                <tr>
                    <th class="py-3 px-4 text-left dark:text-white">Nombre y Apellido</th>
                    <th class="py-3 px-4 text-left dark:text-white">Almuerzo Bs</th>
                    <th class="py-3 px-4 text-left dark:text-white">Para llevar Bs</th>
                    <th class="py-3 px-4 text-left dark:text-white">cubiertos Bs</th>
                     <th class="py-3 px-4 text-left dark:text-white">autorizado</th>
                     <th class="py-3 px-4 text-left dark:text-white">Almuerzo autorizado</th>
                    <th class="py-3 px-4 text-left dark:text-white">total Almuerzo</th>
                    <th class="py-3 px-4 text-left dark:text-white">total a pagar</th>
                </tr>
            </thead>
            <tbody>
                {% for empleado in empleados %}
                <tr class="hover:bg-gray-50 dark:hover:bg-gray-700">
                    <td class="py-3 px-1 dark:text-white" data-label="Nombre">{{ empleado.nombre_completo }}</td>
                    <td class="py-3  dark:text-white" data-label="Almuerzo Bs">
                        <input type="checkbox" name="" id="item1">
                    </td>
                    <td class="py-3 px-1 dark:text-white" data-label="Para llevar Bs">
                       <input type="checkbox" name="" id="item1">
                    </td>
                    <td class="py-3 px-1 dark:text-white" data-label="Cubiertos Bs">
                         <input type="checkbox" name="" id="item1">
                    </td>
                    <td class="py-3 px-1 dark:text-white" data-label="Autorizado"> 
                         <input type="checkbox" name="" id="item1">
                    </td>
                    <td class="py-3 px-1 dark:text-white" data-label="Almuerzo autorizado">
                     <select name="" id="" class="px-2 py-1 rounded-md dark:bg-gray-700 dark:text-white">
                       {% for e in empleados %}
                        <option value="">{{ e.nombre_completo }}</option>
                        {% endfor  %}
                     </select>  
                    </td>
                    <td class="py-3 px-1 dark:text-white" data-label="total Almuerzo">
                        <span>0</span>
                    </td>
                    <td class="py-3 px-1 dark:text-white" data-label="total a pagar">
                        <span>0</span>
                    </td>
                    
                </tr>
 
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="flex justify-center mt-6">
        <button class="bg-blue-600 text-white font-bold py-3 px-6 rounded-lg">
            Resumen y Pago
        </button>
    </div>
</div>

{% endblock %}