<nav class="bg-white dark:bg-gray-800 shadow-sm **sticky top-0 z-30**">

    <div class="flex items-center justify-between p-4">
        <div class="flex items-center">
            <button id="mobile-sidebar-toggle" class="mr-4 text-gray-500 dark:text-gray-300 md:hidden"
                onclick="toggleSidebar()">
                <i class="fas fa-bars text-xl"></i>
            </button>
            <h1 class="text-xl font-semibold text-gray-800 dark:text-white">Sistema Administrador</h1>
        </div>
        <div class="flex items-center space-x-4">
            <button onclick="toggleDarkMode()">
                <i class="fas fa-sun hidden dark:inline-block dark:text-yellow-300"></i>
            </button>
        </div>
    </div>
    
</nav>