<form action="" method="post" class="bg-white shadow-md rounded px-7 pt-20 pb-6 mb-2  dark:bg-dark-100">
    {% csrf_token %}
    <div class="mb-4">
        <label for="first_name" class="block text-gray-700 text-sm font-bold mb-2 dark:text-white">Nombre del rol</label>
        <input type="text" id="first_name" name="name" placeholder="Nombre" 
               class="dark:text-white shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-white dark:bg-dark-100">
    </div>

    <div class="mb-4">
    <span class="block text-gray-700 text-sm font-bold mb-2 dark:text-white">Permisos</span>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for per in permiso %}
            <div class="flex items-center space-x-2">
                <input type="checkbox" id="permiso_{{ per.id }}" name="permisos_ids" value="{{ per.id }}" class="form-checkbox h-4 w-4 text-blue-600 dark:bg-gray-700 dark:border-gray-600">
                <label for="permiso_{{ per.id }}" class="text-gray-700 dark:text-white text-sm cursor-pointer">
                    {{ per.name }}
                </label>
            </div>
            {% endfor %}  
        </div>
    </div>

    <div class="flex items-center justify-between">
        <a href="{% url 'usu' %}" 
               class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer"> Cancelar </a>
        <input type="submit" value="Enviar" 
               class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer">
    </div>
</form>